html
    font-family: "Montserrat"


.main-background
    background: -webkit-gradient(linear,left top,left bottom,from(#21e1ae),to(#09aeea))
    background: linear-gradient(#21e1ae,#09aeea)

.beach-background
    background: linear-gradient(0deg, rgba(0, 55 ,255 , 0.49), rgba(0, 67, 255 , 0.48)), url(../images/beach_background.jpg)
    background-repeat: round

.date-container
    display: flex
    justify-content: center
    align-items: center
    font-family: "Raleway"
    font-size: 5rem
    color: white
    font-weight: 500
    border-radius: 50%
    box-sizing: content-box

.task-list
    max-height: 50vh

$next-hightlight-color: #3bd49c
$pre-hightlight-color: #9ca3af

=data-hightlight($value,  $hightlight-color)
    &[data-hightlight="#{$value}"]
        &::before
            background: $hightlight-color
        .text-blue-400, .text-blue-300,.text-blue-500
            color: $hightlight-color
        .border-blue-300
            border-color: $hightlight-color
.task
    position: relative
    &::before
        display: inline
        content: ""
        height: 5px
        width: 5px
        background: #60a5fa
        position: absolute
        left: -3px
        border-radius: 25px
    +data-hightlight('next',  $next-hightlight-color)
    +data-hightlight('pre',  $pre-hightlight-color)

    


.field
    margin: 0 0 1rem 0
    .MuiFormControl-root
        width: 100%
